.map
  display: flex
  flex-direction: column
  padding: 1rem
  background-color:
  background-color: var(--color-extern)
  position: relative
  user-select: none

  --columns: 10
  --rows: 10
  --map-width: calc(10 * 1rem)
  --color-extern: #a1aaf8
  --color-path: #e2e4f7
  --square-size: calc((1px * var(--map-width) - 2rem) / var(--columns))

  .row
    display: flex
    flex-direction: row

    .column
      width: calc(100% / var(--columns))
      height: var(--square-size)
      background-color: cyan

      &.path, &.finish, &.start
        background-color: var(--color-path)

      &.extern
        background-color: var(--color-extern)

      &.finish
        display: flex
        align-items: center
        justify-content: center
        font-size: calc(var(--square-size) * 0.75)

  .player
    width: calc(100% / var(--columns))
    height: var(--square-size)
    position: absolute
    left: calc(var(--column) * var(--square-size) + 1rem)
    top: calc(var(--row) * var(--square-size) + 1rem)
    display: flex
    align-items: center
    justify-content: center
    transition-duration: var(--animation-duration)
    transform: rotateZ(calc(var(--angle) * 1deg))
    line-height: var(--square-size)

    --row: 0
    --column: 0
    --angle: 0
